@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}

:root{
	--main-bg:#11A996 ;
	--main-color:#0B29BC ;
}

html{
	font-size: 62.5%;
}


/*Transfer-page-css*/

.selection{
  margin-bottom:50px;
}

select option [disabled] { background-color: #c3c3c3; } 

#sendBtn{
  font-size:3rem;
}

.selectUser{
  font-size:2.5rem;
  align-items:center;
  margin-top: 20px;
}
#box{
	margin:20px;
	width:800px;
	padding:10px;
	border:2px solid #D1F6F2 ;
	background-color:#D1F6F2 ;
}
#box1{
	width:600px;
	text-align:left;
}
.amountInput{
  font-size:2.5rem;
  align-items:center;
  margin: 10px;
}

/*Transfer-page-css*/
/*Body andd navbar*/

body{
	height: 100vh;
	display: flex;
  flex-direction: column;
}

*:focus {
    outline: none;
}

.row{
   margin: 0;
}

.errimg img{
	width: 60rem;
	height: 40rem;
}

.main_menu{
	background-color: var(--main-bg);
}

.navbar{
	color:#fff;
	background-color: var(--main-bg);
	padding-left: 2rem 0;
}

.navbar a{
	color:#fff;
	font-size: 1.8rem;
}

.main_text{
   
	justify-content: center;
	font-size: 4rem;
}


.navbar a:hover{
	color:var(--main-color);
	
}



.navbar li{
	margin-left: 2rem;
}





.far{
	
	font-size: 3.8rem;
}





/*Body and navbar*/
/*transaction-history-table*/

table{
  font-size: 2.3rem;
}



.users-head
{
font-size: 6rem;
color:var(--main-color);
}
 



footer{
	width: 100%;
	background-color: var(--main-bg);
	margin-top:auto;
}

footer p{
	margin: 0;
	text-align: center;
	color:#fff;
	line-height: 5rem;
	font-size: 1.4rem;
}
/*Front page design css */
@media(max-width: 768px)
{
  .*{
    height: auto;
    width:auto;
  }
  .
}

